@font-face {
    font-family: 'sketch';
    src: url('/sites/vpd411.pfizer.edrupalgardens.com/files/201301/253f6e_0_0-webfont.eot');
    src: url('/sites/vpd411.pfizer.edrupalgardens.com/files/201301/253f6e_0_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/vpd411.pfizer.edrupalgardens.com/files/201301/253f6e_0_0-webfont.woff') format('woff'),
         url('/sites/vpd411.pfizer.edrupalgardens.com/files/201301/253f6e_0_0-webfont.ttf') format('truetype'),
         url('/sites/vpd411.pfizer.edrupalgardens.com/files/201301/253f6e_0_0-webfont.svg#sketch') format('svg');
    font-weight: normal;
	font-style: normal; 
}