@media (min-width: 1024px) and (max-width: 1440px) {
	.page-width { padding:0 0 0 7.5%!important;}	
	body.front { background-position:333px 100%!important;}
	body.not-front #page{ background-position:1010px 0%!important;}
	body.page-node-6{ background-position:779px 100%!important;}
	body.page-node-16{ background-position:779px 100%!important;}
	body.page-node-21{ background-position:1048px 100%!important;}
	body.page-node-26{ background-position:729px 100%!important;}	
	body.page-node-31{ background-position:788px 100%!important;}	
	body.front .bird {left:-108px!important;}
	body .bird {display:none!important;}
	body.front #copyright .get_facts { left:100px;}
	body.front #node-46 .home { padding-left:55px;}
}
@media (max-width: 960px) {
	html, body {
		background:#411d63!important;
		
		#page {
			background:none!important;	
		}
		#copyright {
			background: url('../images/copy2.png') repeat-x 0% 0%;	
			padding:0;				
			
			.left, .right {float:none;}
			.left {
				font:24px/43px Tahoma;
				text-align:center;		
				
				a {
					margin:0;
				}
			}
			.right {font:20px/63px Tahoma;}
			.page-width {
				padding:0 30px;
			}
		}
	}	
}
