/*cssing by flpk*/
@import 'responsive';
@import 'navigation';
@import 'font';
@import 'front';
@import 'get';
@import 'tags';


html, body { height:100%;}
html {
    background:#000 url('../images/bg.jpg') 0 0; 
    background-size: 100%;    
}
body {  
	min-height:100%;
	height:auto!important;
	height: 100%; 
	position:relative;
	font-family: Tahoma, Arial; 
	font-size: 14px; 
	line-height:normal;
	color: #fff; 		
	/* background: url('../images/bg1.png') no-repeat 100% 100%; */
	background: none;     
	}


body.not-front	#page{ background: url('../images/right_conner.png') no-repeat 100% 0; }	
body.page-node-6 {background: url('../images/bg1.png') no-repeat 100% 100%;}
body.page-node-16 {background: url('../images/bg3.png') no-repeat 100% 100%;}
body.page-node-26 {background: url('../images/bg5.png') no-repeat 100% 100%;}
body.page-node-21 {background: url('../images/vid.png') no-repeat 100% 100%;}
body.page-node-31 {background: url('../images/bg6.png') no-repeat 100% 100%;}

dl { color:#fff;}
p { margin: 0 0 10px 0;}
.block ul { 
	color:#fff;
	margin:0 0 13px 0;
    padding:0 0 0 22px;
	}
a, a:link {
	color:#fff!important;
	/* text-decoration:underline; */
	text-decoration:none;   
}
a:hover {	
	text-decoration:underline;
}
p { color:#fff;}


.page-width { 
	margin:0;
    border: none;
	width:auto;	
	padding:0 0 0 108px;  
	}
#content .pane #block-system-main .node {  padding-left:50px;}
body.page-node-31 #content .pane #block-system-main .node{
	min-height:300px;
	height:auto!important;
	height:300px;
	}
body.page-node-16 #content h1#page-title { display:none;}
	
.bird {
	position:absolute;
	top:-145px;
	left:-60px;
	background: url('../images/bird.png') no-repeat 0  0;
	width:61px;
	height:60px;
	}	
.stack-copyright { background:none;}
#site-name {
	background: url('../images/logo.png') no-repeat 0 0; 
	margin:0;
	padding:0;	
	width:426px;
	height:54px;	
	}
#site-name a {
	display:block;
	width:426px;
	height:54px;
	text-indent:-9999px;
	}	
#site-slogan {
	color:#ff9933;
	font-size:11px;
	}
#copyright {
	color:#fff;
	font:12px Tahoma;
	background: url('../images/copy.png') repeat-x 0 0; 	
	position:absolute;
	bottom:0;
	margin:0;
	padding:90px 0 0 0;
	height:95px;	
	width:100%;	
	}	
#copyright a { color:#fff;}	
#copyright a:hover { text-decoration:underline;}
#copyright .right {
	background: url('../images/logo_small.png') no-repeat 100% 0; 	
	padding-right:70px;
	height:31px;	
	}
#copyright .right,
#copyright .left {	line-height:31px;}
#copyright .left a { margin:0 10px;}
#copyright .get_facts {
	background: url('../images/facts.png') no-repeat 0 0; 	
	display:block;
	width:403px;
	height:45px;
	position:absolute;
	top:-145px;
	left:50px;
	text-indent:-9999px;
	}

#preheader { float:right; clear:none;}
#preheader h2 { display:none;}
#header-inner { float:left; clear:none;}
#page {  padding-bottom:250px;	overflow-x:hidden;}

#block-rotating-banner-1 { display:none;}
.wrapper-content .box,
.stack .box { padding:0;}
.wrapper-content .stack, .wrapper-footer .stack{ padding:0;}
.wrapper-content .block + .block {margin-top:0;}
.col-c { overflow:visible;}

ul.primary li a { background:#501E63;}	
ul.primary li a:hover { background:#502b7e;}	
ul.primary li.active a { background:#502b7e;}	
.tabs ul.primary li:first-child { display:none;}


.form-submit { background:#a1d2e5; margin:0; color:#3a3a3a;} 
.form-submit:hover { 
    -webkit-box-shadow: 0px 0px 10px 0px #3CB5F1; /* WebKit */
    -moz-box-shadow: 0px 0px 10px 0px #3CB5F1; /* Firefox */
    box-shadow: 0px 0px 10px 0px #3CB5F1; /* Standard */ 
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#3CB5F1', Direction=90, Strength=3);    
    }

#edit-actions .form-navigation-wrapper { display:none;}

.wrapper-content {
	background:none;
	margin:0;
	}		
	
.lining { padding-top: 70px;}	
#breadcrumb { display:none;}	
#video {
	background: url('../images/video.png') no-repeat 0 0; 	
	width:962px;
	height:522px;
    padding:53px 0 0 68px;
	}
#video2 { display:none;}	
#node-16 .left{
	width:340px;
	margin-right:30px;
	
	ul ul { list-style:none; padding:0;}
	}
	
#block-block-41 { display:none;}
.tips { width:500px;}	
.learn {width:500px;}
.vpd { width:680px;}