@media (max-width: 1425px) {
  /* line 2, ../sass/responsive.scss */
  .page-width {
    padding: 0 30px;
  }

  /* line 3, ../sass/responsive.scss */
  body.front #page {
    background-position: 295px 100% !important;
  }

  /* line 4, ../sass/responsive.scss */
  body.not-front #page {
    background-position: 1010px 0% !important;
  }

  /* line 5, ../sass/responsive.scss */
  body.page-node-6 {
    background-position: 779px 100% !important;
  }

  /* line 6, ../sass/responsive.scss */
  body.page-node-16 {
    background-position: 779px 100% !important;
  }

  /* line 7, ../sass/responsive.scss */
  body.page-node-21 {
    background-position: 1048px 100% !important;
  }

  /* line 8, ../sass/responsive.scss */
  body.page-node-26 {
    background-position: 729px 100% !important;
  }

  /* line 9, ../sass/responsive.scss */
  body.page-node-31 {
    background-position: 788px 100% !important;
  }

  /* line 10, ../sass/responsive.scss */
  body.front .bird {
    left: -108px!important;
  }

  /* line 11, ../sass/responsive.scss */
  body .bird {
    display: none!important;
  }

  /* line 12, ../sass/responsive.scss */
  body.front #copyright .get_facts {
    left: 100px;
  }

  /* line 13, ../sass/responsive.scss */
  body.front #node-46 .home {
    padding-left: 55px;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  /* line 16, ../sass/responsive.scss */
  .page-width {
    width: 964px!important;
    padding: 0 20px !important;
  }

  /*
  .geton{
      display:block!important;
      
      a {
          width:275px!important; 
          height:269px!important;             
          background-size:100%!important;
      }
  }  
  .get1 { display:none;}
  */
}
@media (max-width: 640px) {
  /*
   * FancyBox - jQuery Plugin
   * Simple and fancy lightbox alternative
   *
   * Examples and documentation at: http://fancybox.net
   * 
   * Copyright (c) 2008 - 2010 Janis Skarnelis
   * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
   * 
   * Version: 1.3.4 (11/11/2010)
   * Requires: jQuery v1.3+
   *
   * Dual licensed under the MIT and GPL licenses:
   *   http://www.opensource.org/licenses/mit-license.php
   *   http://www.gnu.org/licenses/gpl.html
   */
  /* line 18, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
  }

  /* line 32, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url("../images/fancybox.png");
  }

  /* line 41, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    display: none;
    background: none !important;
  }

  /* line 51, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
  }

  /* line 59, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1101;
    outline: none;
    display: none;
  }

  /* line 69, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
  }

  /* line 76, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1102;
    border: 0px solid white;
  }
  /* line 86, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-content ul {
    color: #252525;
  }
  /* line 88, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-content h3 span {
    font: bold 30px Tahoma, Arial;
  }

  /* line 93, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1101;
  }

  /* line 103, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 26px;
    height: 26px;
    background: transparent url("../images/close.png") 0 0;
    cursor: pointer;
    z-index: 1103;
    display: none;
  }

  /* line 115, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 14px;
    margin: 0;
  }

  /* line 122, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
  }

  /* line 133, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }

  /* line 140, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background: transparent url("../images/blank.gif");
    z-index: 1102;
    display: none;
  }

  /* line 152, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left {
    left: 0px;
  }

  /* line 156, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-right {
    right: 0px;
  }

  /* line 160, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block;
  }

  /* line 172, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left-ico {
    background-image: url("../images/fancybox.png");
    background-position: -40px -30px;
  }

  /* line 177, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-right-ico {
    background-image: url("../images/fancybox.png");
    background-position: -40px -60px;
  }

  /* line 182, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left:hover, #fancybox-right:hover {
    visibility: visible;
    /* IE6 */
  }

  /* line 186, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left:hover span {
    left: 20px;
  }

  /* line 190, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-right:hover span {
    left: auto;
    right: 20px;
  }

  /* line 195, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 22px;
    height: 22px;
    z-index: 1001;
    background-color: #fff;
  }

  /* line 206, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-n {
    top: -22px;
    left: 0;
    width: 100%;
    /*background-image: url('../images/fancybox-x.png');*/
    border-top: 8px solid #ec008c;
  }

  /* line 214, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-ne {
    top: -22px;
    right: -22px;
    background: url("../images/bg-ne.png") no-repeat 100% 0%;
    /*background-position: -40px -162px;    */
  }

  /* line 221, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-e {
    top: 0;
    right: -22px;
    height: 100%;
    /*background-image: url('../images/fancybox-y.png');*/
    background-position: -20px 0px;
    border-right: 8px solid #ec008c;
  }

  /* line 230, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-se {
    bottom: -22px;
    right: -22px;
    background: url("../images/bg-se.png") no-repeat 100% 100%;
    /*background-position: -40px -182px;     */
  }

  /* line 237, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-s {
    bottom: -22px;
    left: 0;
    width: 100%;
    /*	background-image: url('../images/fancybox-x.png');*/
    background-position: 0px -20px;
    border-bottom: 8px solid #ec008c;
  }

  /* line 246, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-sw {
    bottom: -22px;
    left: -22px;
    background: url("../images/bg-sw.png") no-repeat 0% 100%;
    /*background-position: -40px -142px;*/
  }

  /* line 253, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-w {
    top: 0;
    left: -22px;
    height: 100%;
    /*background-image: url('../images/fancybox-y.png');*/
    border-left: 8px solid #ec008c;
  }

  /* line 261, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-nw {
    top: -22px;
    left: -22px;
    background: url("../images/bg-nw.png") no-repeat 0% 0%;
    /*background-position: -40px -122px;*/
  }

  /* line 268, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title {
    font-family: Helvetica;
    font-size: 12px;
    z-index: 1102;
  }

  /* line 274, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-title-inside {
    padding-bottom: 10px;
    text-align: center;
    color: #333;
    background: #fff;
    position: relative;
  }

  /* line 282, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-title-outside {
    padding-top: 10px;
    color: #fff;
  }

  /* line 287, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: left;
  }

  /* line 295, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-over {
    padding: 10px;
    background-image: url("../images/fancy_title_over.png");
    display: block;
  }

  /* line 301, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px;
  }

  /* line 308, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-float-wrap {
    border: none;
    border-collapse: collapse;
    width: auto;
  }

  /* line 314, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-float-wrap td {
    border: none;
    white-space: nowrap;
  }

  /* line 319, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-float-left {
    padding: 0 0 0 15px;
    background: url("../images/fancybox.png") -40px -90px no-repeat;
  }

  /* line 324, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-float-main {
    color: #FFF;
    line-height: 29px;
    font-weight: bold;
    padding: 0 0 3px 0;
    background: url("../images/fancybox-x.png") 0px -40px;
  }

  /* line 332, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-float-right {
    padding: 0 0 0 15px;
    background: url("../images/fancybox.png") -55px -90px no-repeat;
  }

  /* IE6 */
  /* line 339, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-close {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale');
  }

  /* line 341, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-left-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale');
  }

  /* line 342, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-right-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale');
  }

  /* line 344, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-title-over {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');
    zoom: 1;
  }

  /* line 345, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-title-float-left {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale');
  }

  /* line 346, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-title-float-main {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale');
  }

  /* line 347, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-title-float-right {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale');
  }

  /* line 349, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
    height: expression(this.parentNode.clientHeight + "px");
  }

  /* line 353, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-loading.fancybox-ie6 {
    position: absolute;
    margin-top: 0;
    top: expression((-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
  }

  /* line 358, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-loading.fancybox-ie6 div {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale');
  }

  /* IE6, IE7, IE8 */
  /* line 362, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie .fancybox-bg {
    background: transparent !important;
  }

  /* line 364, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-n {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale');
  }

  /* line 365, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-ne {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale');
  }

  /* line 366, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-e {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale');
  }

  /* line 367, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-se {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale');
  }

  /* line 368, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-s {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale');
  }

  /* line 369, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-sw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale');
  }

  /* line 370, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-w {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale');
  }

  /* line 371, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-nw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale');
  }

  /* line 35, ../sass/responsive.scss */
  html, body {
    background: #411d63!important;
    font-size: 100%!important;
  }
  /* line 39, ../sass/responsive.scss */
  html h2, body h2 {
    font: bold 30px Tahoma, Arial;
  }
  /* line 40, ../sass/responsive.scss */
  html h3, body h3 {
    font: 28px Tahoma, Arial;
  }
  /* line 42, ../sass/responsive.scss */
  html #page, body #page {
    background: none!important;
  }
  /* line 45, ../sass/responsive.scss */
  html #page .page-width, body #page .page-width {
    padding: 0!important;
    width: 624px!important;
  }
  /* line 46, ../sass/responsive.scss */
  html #page .lining, body #page .lining {
    padding: 0;
  }
  /* line 47, ../sass/responsive.scss */
  html #page #header-inner, body #page #header-inner {
    padding: 0;
  }
  /* line 48, ../sass/responsive.scss */
  html #page #site-name, body #page #site-name {
    background: none;
    height: auto;
    width: auto;
  }
  /* line 53, ../sass/responsive.scss */
  html #page #site-name a, body #page #site-name a {
    text-indent: 0;
    color: #ff9b20!important;
    font: normal 100% "sketch", Arial, sans-serif;
    height: auto!important;
    width: auto!important;
  }
  /* line 61, ../sass/responsive.scss */
  html #page .region-header .page-element, body #page .region-header .page-element {
    width: auto;
  }
  /* line 62, ../sass/responsive.scss */
  html #page #site-slogan, body #page #site-slogan {
    font: 70% Tahoma, Arial;
  }
  /* line 63, ../sass/responsive.scss */
  html #page #navigation, body #page #navigation {
    margin: 0;
    height: auto;
    width: auto;
    background: none;
  }
  /* line 69, ../sass/responsive.scss */
  html #page #navigation .block, body #page #navigation .block {
    margin: 0;
  }
  /* line 71, ../sass/responsive.scss */
  html #page #navigation #dropdown_button, body #page #navigation #dropdown_button {
    background: url("../images/m.png") no-repeat 0% 0%;
    width: 153px;
    height: 70px;
    cursor: pointer;
    text-indent: -9999px;
    float: right;
    border: none;
    margin-top: -20px;
    margin-right: 22px;
  }
  /* line 82, ../sass/responsive.scss */
  html #page #navigation .off_menu, body #page #navigation .off_menu {
    background: url("../images/m_off.png") no-repeat 0% 0% !important;
  }
  /* line 83, ../sass/responsive.scss */
  html #page #navigation #block-block-41, body #page #navigation #block-block-41 {
    background: url("../images/960head.png") repeat-x 0% 0%;
    display: block;
    position: relative;
    z-index: 200;
  }
  /* line 89, ../sass/responsive.scss */
  html #page #navigation ul, body #page #navigation ul {
    height: auto;
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    z-index: 500;
    width: 100%;
  }
  /* line 98, ../sass/responsive.scss */
  html #page #navigation ul .menu-link-2926 a, body #page #navigation ul .menu-link-2926 a {
    color: #fff!important;
    background: url("../images/m_ico.png") no-repeat;
    background-position: 18px 26px !important;
    background-size: auto!important;
    padding-left: 75px;
    text-transform: uppercase;
  }
  /* line 106, ../sass/responsive.scss */
  html #page #navigation ul li, body #page #navigation ul li {
    float: none;
    margin: 0 30px;
    padding: 0 20px;
    background: #ff9b21 url("../images/m_li.png") repeat-x 0% 0%;
    border: 1px solid white;
  }
  /* line 113, ../sass/responsive.scss */
  html #page #navigation ul li .menu-link-2926 a, body #page #navigation ul li .menu-link-2926 a {
    color: #fff!important;
  }
  /* line 116, ../sass/responsive.scss */
  html #page #navigation ul li a, body #page #navigation ul li a {
    text-indent: 0;
    background: none;
    width: auto;
    height: auto;
    position: static;
    color: #252525!important;
    font: 130% Arial;
    line-height: 90px;
    /*font:30px/90px Arial; */
  }
  /* line 130, ../sass/responsive.scss */
  html #page .geton, body #page .geton {
    display: block!important;
  }
  /* line 133, ../sass/responsive.scss */
  html #page .geton a, body #page .geton a {
    width: 155px;
    height: 148px;
    background-size: 100%;
  }
  /* line 139, ../sass/responsive.scss */
  html #page .get1, body #page .get1 {
    display: none;
  }
  /* line 140, ../sass/responsive.scss */
  html #page #video, body #page #video {
    display: none!important;
  }
  /* line 141, ../sass/responsive.scss */
  html #page #video2, body #page #video2 {
    display: block!important;
    background: url("../images/video_mobile.png") no-repeat 0 0;
    width: 479px;
    height: 318px;
    padding: 31px 0 0 104px;
  }
  /* line 149, ../sass/responsive.scss */
  html #copyright, body #copyright {
    padding: 0;
    background: none;
  }
  /* line 153, ../sass/responsive.scss */
  html #copyright .page-width, body #copyright .page-width {
    padding: 0!important;
    width: 624px!important;
  }
  /* line 155, ../sass/responsive.scss */
  html #copyright .left, html #copyright .right, body #copyright .left, body #copyright .right {
    float: none;
  }
  /* line 156, ../sass/responsive.scss */
  html #copyright .left, body #copyright .left {
    font: 120%/43px Tahoma, Arial;
    text-align: center;
    background: #3cb5f1 url("../images/copy2.png") repeat-x 0% 0%;
    padding: 0 4.6875%;
  }
  /* line 162, ../sass/responsive.scss */
  html #copyright .left a, body #copyright .left a {
    margin: 0;
  }
  /* line 164, ../sass/responsive.scss */
  html #copyright .right, body #copyright .right {
    font: 100%/63px Tahoma, Arial;
    background-position: 100% 50%;
    height: auto;
    padding: 0 4.6875%;
  }
  /* line 170, ../sass/responsive.scss */
  html #copyright .get_facts, body #copyright .get_facts {
    background: url("../images/facts2.png") no-repeat 0% 0%;
    width: 100%;
    background-size: 100%;
    /*height:63px;*/
    height: 100%;
    left: 0px!important;
    top: -127px;
  }
  /* line 179, ../sass/responsive.scss */
  html #copyright .bird, body #copyright .bird {
    display: block!important;
    right: 0!important;
    left: auto;
    background: url("../images/bird2.png") no-repeat 0% 0%;
    width: 76px;
    height: 67px;
    top: -65px;
  }
  /* line 190, ../sass/responsive.scss */
  html body.front #node-46 .home, body body.front #node-46 .home {
    width: auto!important;
  }
  /* line 191, ../sass/responsive.scss */
  html #block-rotating-banner-1, body #block-rotating-banner-1 {
    display: block!important;
    border-top: 3px solid #b8d647;
    border-bottom: 3px solid #b8d647;
    margin-top: -50px!important;
    position: relative;
    z-index: 100;
  }
  /* line 199, ../sass/responsive.scss */
  html #block-rotating-banner-1 .rotating-banner, body #block-rotating-banner-1 .rotating-banner {
    overflow: auto;
  }
  /* line 202, ../sass/responsive.scss */
  html #block-block-16,
  html #block-block-31, body #block-block-16,
  body #block-block-31 {
    margin: 0;
  }
  /* line 203, ../sass/responsive.scss */
  html #node-16 .left, body #node-16 .left {
    width: auto!important;
    margin-right: 0px!important;
  }
  /* line 209, ../sass/responsive.scss */
  html .tips,
  html .learn,
  html .vpd, body .tips,
  body .learn,
  body .vpd {
    width: auto!important;
  }
  /* line 210, ../sass/responsive.scss */
  html #content .pane #block-system-main .node, body #content .pane #block-system-main .node {
    padding: 0 30px !important;
  }
}
