/* line 1, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 2, ../sass/style.scss */
html {
  background: black url("../images/bg.jpg") 0 0;
  background-size: 100%;
}

/* line 6, ../sass/style.scss */
body {
  min-height: 100%;
  height: auto!important;
  height: 100%;
  position: relative;
  font-family: Tahoma, Arial;
  font-size: 14px;
  line-height: normal;
  color: #fff;
  background: none;
}

/* line 19, ../sass/style.scss */
body.not-front {
  background: url("../images/right_conner.png") no-repeat 100% 0;
}

/* line 20, ../sass/style.scss */
body.page-node-6 #page {
  background: url("../images/bg1.png") no-repeat 100% 100%;
}

/* line 21, ../sass/style.scss */
body.page-node-16 #page {
  background: url("../images/bg3.png") no-repeat 100% 100%;
}

/* line 22, ../sass/style.scss */
body.page-node-26 #page {
  background: url("../images/bg5.png") no-repeat 100% 100%;
}

/* line 23, ../sass/style.scss */
body.page-node-21 #page {
  background: url("../images/vid.png") no-repeat 100% 100%;
}

/* line 24, ../sass/style.scss */
body.page-node-31 #page {
  background: url("../images/bg6.png") no-repeat 100% 100%;
}

/* line 26, ../sass/style.scss */
dl {
  color: #fff;
}

/* line 27, ../sass/style.scss */
p {
  margin: 0 0 10px 0;
}

/* line 28, ../sass/style.scss */
.block ul {
  color: #fff;
  margin: 0 0 13px 0;
  padding: 0 0 0 22px;
}

/* line 33, ../sass/style.scss */
a, a:link {
  color: #fff!important;
  /* text-decoration:underline; */
  text-decoration: none;
}

/* line 38, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 41, ../sass/style.scss */
p {
  color: #fff;
}

/* line 44, ../sass/style.scss */
.page-width {
  margin: 0;
  border: none;
  padding: 0 108px;
  width: auto;
}

/* line 50, ../sass/style.scss */
#content .pane #block-system-main .node {
  padding-left: 50px;
}

/* line 51, ../sass/style.scss */
body.page-node-31 #content .pane #block-system-main .node {
  min-height: 300px;
  height: auto!important;
  height: 300px;
}

/* line 56, ../sass/style.scss */
body.page-node-16 #content h1#page-title {
  display: none;
}

/* line 58, ../sass/style.scss */
.bird {
  position: absolute;
  top: -145px;
  left: -60px;
  background: url("../images/bird.png") no-repeat 0 0;
  width: 61px;
  height: 60px;
}

/* line 66, ../sass/style.scss */
.stack-copyright {
  background: none;
}

/* line 67, ../sass/style.scss */
#site-name {
  background: url("../images/logo.png") no-repeat 0 0;
  margin: 0;
  padding: 0;
  width: 426px;
  height: 71px;
}

/* line 74, ../sass/style.scss */
#site-name a {
  display: block;
  width: 426px;
  height: 71px;
  text-indent: -9999px;
}

/* line 80, ../sass/style.scss */
#site-slogan {
  color: #ff9933;
  font-size: 11px;
}

/* line 84, ../sass/style.scss */
#copyright {
  color: #fff;
  font: 12px Tahoma;
  background: url("../images/copy.png") repeat-x 0 0;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 90px 0 0 0;
  height: 95px;
  width: 100%;
}
/* line 95, ../sass/style.scss */
#copyright a {
  color: #fff;
}
/* line 96, ../sass/style.scss */
#copyright a:hover {
  text-decoration: underline;
}
/* line 97, ../sass/style.scss */
#copyright .right {
  background: url("../images/logo_small.png") no-repeat 100% 0;
  padding-right: 70px;
  height: 31px;
}
/* line 103, ../sass/style.scss */
#copyright .right,
#copyright .left {
  line-height: 31px;
}
/* line 106, ../sass/style.scss */
#copyright .right a,
#copyright .left a {
  margin: 0 10px;
}
/* line 108, ../sass/style.scss */
#copyright .get_facts {
  background: url("../images/facts.png") no-repeat 0 0;
  display: block;
  width: 403px;
  height: 45px;
  position: absolute;
  top: -145px;
  left: 50px;
  text-indent: -9999px;
}

/* line 119, ../sass/style.scss */
#preheader {
  float: right;
  clear: none;
  margin-right: 25%;
}

/* line 120, ../sass/style.scss */
#preheader h2 {
  display: none;
}

/* line 121, ../sass/style.scss */
#header-inner {
  float: left;
  clear: none;
}

/* line 122, ../sass/style.scss */
#page {
  padding-bottom: 250px;
  width: 100%;
}

/* line 124, ../sass/style.scss */
#block-rotating-banner-1 {
  display: none;
}

/* line 126, ../sass/style.scss */
.wrapper-content .box,
.stack .box {
  padding: 0;
}

/* line 127, ../sass/style.scss */
.wrapper-content .stack, .wrapper-footer .stack {
  padding: 0;
}

/* line 128, ../sass/style.scss */
.wrapper-content .block + .block {
  margin-top: 0;
}

/* line 129, ../sass/style.scss */
.col-c {
  overflow: visible;
}

/* line 131, ../sass/style.scss */
ul.primary li a {
  background: #501E63;
}

/* line 132, ../sass/style.scss */
ul.primary li a:hover {
  background: #502b7e;
}

/* line 133, ../sass/style.scss */
ul.primary li.active a {
  background: #502b7e;
}

/* line 134, ../sass/style.scss */
.tabs ul.primary li:first-child {
  display: none;
}

/* line 137, ../sass/style.scss */
.form-submit {
  background: #a1d2e5;
  margin: 0;
  color: #3a3a3a;
}

/* line 138, ../sass/style.scss */
.form-submit:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #3cb5f1;
  /* WebKit */
  -moz-box-shadow: 0px 0px 10px 0px #3cb5f1;
  /* Firefox */
  box-shadow: 0px 0px 10px 0px #3cb5f1;
  /* Standard */
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#3CB5F1', Direction=90, Strength=3);
}

/* line 145, ../sass/style.scss */
#edit-actions .form-navigation-wrapper {
  display: none;
}

/* line 147, ../sass/style.scss */
.wrapper-content {
  background: none;
  margin: 0;
}

/* line 152, ../sass/style.scss */
.lining {
  padding-top: 70px;
}

/* line 153, ../sass/style.scss */
#breadcrumb {
  display: none;
}

/* line 154, ../sass/style.scss */
#video {
  background: url("../images/video.png") no-repeat 0 0;
  width: 962px;
  height: 522px;
  padding: 53px 0 0 68px;
}

/* line 160, ../sass/style.scss */
#video2 {
  display: none;
}

/* line 161, ../sass/style.scss */
#node-16 .left {
  width: 340px;
  margin-right: 30px;
}
/* line 165, ../sass/style.scss */
#node-16 .left ul ul {
  list-style: none;
  padding: 0;
}

/* line 168, ../sass/style.scss */
#block-block-41 {
  display: none;
}

/* line 169, ../sass/style.scss */
.tips {
  width: 500px;
}

/* line 170, ../sass/style.scss */
.learn {
  width: 500px;
}

/* line 171, ../sass/style.scss */
.vpd {
  width: 680px;
}

/* line 173, ../sass/style.scss */
#gardens_ie8 {
  min-width: 1425px;
}

/*cssing by flpk*/
@media (max-width: 1425px) {
  /* line 2, ../sass/responsive.scss */
  .page-width {
    padding: 0 30px;
  }

  /* line 4, ../sass/responsive.scss */
  body.not-front #page {
    background-position: 1010px 0% !important;
  }

  /* line 5, ../sass/responsive.scss */
  body.page-node-6 #page {
    background-position: 779px 100% !important;
  }

  /* line 6, ../sass/responsive.scss */
  body.page-node-16 #page {
    background-position: 779px 100% !important;
  }

  /* line 7, ../sass/responsive.scss */
  body.page-node-21 #page {
    background-position: 1048px 100% !important;
  }

  /* line 8, ../sass/responsive.scss */
  body.page-node-26 #page {
    background-position: 729px 100% !important;
  }

  /* line 9, ../sass/responsive.scss */
  body.page-node-31 #page {
    background-position: 788px 100% !important;
  }

  /* line 10, ../sass/responsive.scss */
  body .bird {
    display: none!important;
  }

  /* line 11, ../sass/responsive.scss */
  body.front .bird {
    left: -108px!important;
  }

  /* line 12, ../sass/responsive.scss */
  body.front #page {
    background-position: 295px 100% !important;
  }

  /* line 13, ../sass/responsive.scss */
  body.front #copyright .get_facts {
    left: 100px;
  }

  /* line 14, ../sass/responsive.scss */
  body.front #node-46 .home {
    padding-left: 55px;
  }

  /* line 15, ../sass/responsive.scss */
  body.front {
    background-position: 60px 125px !important;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  /* line 19, ../sass/responsive.scss */
  .page-width {
    padding: 0 30px !important;
    width: 864px!important;
  }
}
@media only screen and (orientation: portrait) {
  /* line 25, ../sass/responsive.scss */
  #page {
    width: 924px;
  }

  /* line 26, ../sass/responsive.scss */
  #copyright {
    width: auto!important;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  /* line 31, ../sass/responsive.scss */
  #page {
    width: 1024px;
  }

  /* line 32, ../sass/responsive.scss */
  #copyright {
    width: 100%!important;
  }
}
@media (max-width: 640px) {
  /*
   * FancyBox - jQuery Plugin
   * Simple and fancy lightbox alternative
   *
   * Examples and documentation at: http://fancybox.net
   * 
   * Copyright (c) 2008 - 2010 Janis Skarnelis
   * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
   * 
   * Version: 1.3.4 (11/11/2010)
   * Requires: jQuery v1.3+
   *
   * Dual licensed under the MIT and GPL licenses:
   *   http://www.opensource.org/licenses/mit-license.php
   *   http://www.gnu.org/licenses/gpl.html
   */
  /* line 18, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
  }

  /* line 32, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url("../images/fancybox.png");
  }

  /* line 41, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    display: none;
    background: none !important;
  }

  /* line 51, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
  }

  /* line 59, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1101;
    outline: none;
    display: none;
  }

  /* line 69, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    /*background: #fff;*/
  }

  /* line 76, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1102;
    border: 8px solid #ec008c;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
  }
  /* line 90, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-content ul {
    color: #252525;
  }
  /* line 92, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-content h3 span {
    font: bold 30px Tahoma, Arial;
  }
  /* line 95, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-content #d1, #fancybox-content #d2, #fancybox-content #d3, #fancybox-content #d4, #fancybox-content #d5, #fancybox-content #d6 {
    padding: 25px;
  }

  /* line 99, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1101;
  }

  /* line 109, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-close {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 26px;
    height: 26px;
    background: transparent url("../images/close.png") 0 0;
    cursor: pointer;
    z-index: 1103;
    display: none;
  }

  /* line 121, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 14px;
    margin: 0;
  }

  /* line 128, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
  }

  /* line 139, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }

  /* line 146, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background: transparent url("../images/blank.gif");
    z-index: 1102;
    display: none;
  }

  /* line 158, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left {
    left: 0px;
  }

  /* line 162, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-right {
    right: 0px;
  }

  /* line 166, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block;
  }

  /* line 178, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left-ico {
    background-image: url("../images/fancybox.png");
    background-position: -40px -30px;
  }

  /* line 183, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-right-ico {
    background-image: url("../images/fancybox.png");
    background-position: -40px -60px;
  }

  /* line 188, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left:hover, #fancybox-right:hover {
    visibility: visible;
    /* IE6 */
  }

  /* line 192, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-left:hover span {
    left: 20px;
  }

  /* line 196, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-right:hover span {
    left: auto;
    right: 20px;
  }

  /* line 201, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 22px;
    height: 22px;
    z-index: 1001;
    /*background-color:#fff;*/
  }

  /* line 212, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-n {
    top: -22px;
    left: 0;
    width: 100%;
    /*background-image: url('../images/fancybox-x.png');*/
    /*border-top:8px solid #ec008c;    */
  }

  /* line 220, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-ne {
    top: -22px;
    right: -22px;
    /*background: url('../images/bg-ne.png') no-repeat 100% 0%;*/
    /*background-position: -40px -162px;    */
  }

  /* line 227, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-e {
    top: 0;
    right: -22px;
    height: 100%;
    /*background-image: url('../images/fancybox-y.png');*/
    background-position: -20px 0px;
    /*border-right:8px solid #ec008c;    */
  }

  /* line 236, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-se {
    bottom: -22px;
    right: -22px;
    /*background: url('../images/bg-se.png') no-repeat 100% 100%;*/
    /*background-position: -40px -182px;     */
  }

  /* line 243, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-s {
    bottom: -22px;
    left: 0;
    width: 100%;
    /*	background-image: url('../images/fancybox-x.png');*/
    background-position: 0px -20px;
    /*border-bottom:8px solid #ec008c;    */
  }

  /* line 252, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-sw {
    bottom: -22px;
    left: -22px;
    /*background: url('../images/bg-sw.png') no-repeat 0% 100%;*/
    /*background-position: -40px -142px;*/
  }

  /* line 259, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-w {
    top: 0;
    left: -22px;
    height: 100%;
    /*background-image: url('../images/fancybox-y.png');*/
    /*border-left:8px solid #ec008c;    */
  }

  /* line 267, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-bg-nw {
    top: -22px;
    left: -22px;
    /*background: url('../images/bg-nw.png') no-repeat 0% 0%;*/
    /*background-position: -40px -122px;*/
  }

  /* line 274, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title {
    font-family: Helvetica;
    font-size: 12px;
    z-index: 1102;
  }

  /* line 280, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-title-inside {
    padding-bottom: 10px;
    text-align: center;
    color: #333;
    background: #fff;
    position: relative;
  }

  /* line 288, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-title-outside {
    padding-top: 10px;
    color: #fff;
  }

  /* line 293, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: left;
  }

  /* line 301, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-over {
    padding: 10px;
    background-image: url("../images/fancy_title_over.png");
    display: block;
  }

  /* line 307, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px;
  }

  /* line 314, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-float-wrap {
    border: none;
    border-collapse: collapse;
    width: auto;
  }

  /* line 320, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-float-wrap td {
    border: none;
    white-space: nowrap;
  }

  /* line 325, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-float-left {
    padding: 0 0 0 15px;
    background: url("../images/fancybox.png") -40px -90px no-repeat;
  }

  /* line 330, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-float-main {
    color: #FFF;
    line-height: 29px;
    font-weight: bold;
    padding: 0 0 3px 0;
    background: url("../images/fancybox-x.png") 0px -40px;
  }

  /* line 338, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-title-float-right {
    padding: 0 0 0 15px;
    background: url("../images/fancybox.png") -55px -90px no-repeat;
  }

  /* IE6 */
  /* line 345, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-close {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale');
  }

  /* line 347, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-left-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale');
  }

  /* line 348, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-right-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale');
  }

  /* line 350, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-title-over {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');
    zoom: 1;
  }

  /* line 351, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-title-float-left {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale');
  }

  /* line 352, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-title-float-main {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale');
  }

  /* line 353, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-title-float-right {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale');
  }

  /* line 355, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
    height: expression(this.parentNode.clientHeight + "px");
  }

  /* line 359, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-loading.fancybox-ie6 {
    position: absolute;
    margin-top: 0;
    top: expression((-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
  }

  /* line 364, ../sass/jquery.fancybox-1.3.4.scss */
  #fancybox-loading.fancybox-ie6 div {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale');
  }

  /* IE6, IE7, IE8 */
  /* line 368, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie .fancybox-bg {
    background: transparent !important;
  }

  /* line 370, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-n {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale');
  }

  /* line 371, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-ne {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale');
  }

  /* line 372, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-e {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale');
  }

  /* line 373, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-se {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale');
  }

  /* line 374, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-s {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale');
  }

  /* line 375, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-sw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale');
  }

  /* line 376, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-w {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale');
  }

  /* line 377, ../sass/jquery.fancybox-1.3.4.scss */
  .fancybox-ie #fancybox-bg-nw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale');
  }

  /* line 38, ../sass/responsive.scss */
  html, body {
    background: #411d63!important;
    font-size: 100%!important;
  }
  /* line 42, ../sass/responsive.scss */
  html h2, body h2 {
    font: bold 30px Tahoma, Arial;
  }
  /* line 43, ../sass/responsive.scss */
  html h3, body h3 {
    font: 28px Tahoma, Arial;
  }
  /* line 45, ../sass/responsive.scss */
  html #page, body #page {
    background: none!important;
    width: auto!important;
  }
  /* line 49, ../sass/responsive.scss */
  html #page .page-width, body #page .page-width {
    padding: 0!important;
    width: auto!important;
  }
  /* line 53, ../sass/responsive.scss */
  html #page .lining, body #page .lining {
    padding: 0;
  }
  /* line 54, ../sass/responsive.scss */
  html #page #header-inner, body #page #header-inner {
    padding: 30px 30px 0;
  }
  /* line 55, ../sass/responsive.scss */
  html #page #site-name, body #page #site-name {
    background: none;
    height: auto;
    width: auto;
  }
  /* line 60, ../sass/responsive.scss */
  html #page #site-name a, body #page #site-name a {
    text-indent: 0;
    color: #ff9b20!important;
    font: normal 100% "sketch", Arial, sans-serif;
    height: auto!important;
    width: auto!important;
  }
  /* line 68, ../sass/responsive.scss */
  html #page .region-header .page-element, body #page .region-header .page-element {
    width: auto;
  }
  /* line 69, ../sass/responsive.scss */
  html #page #site-slogan, body #page #site-slogan {
    font: 70% Tahoma, Arial;
  }
  /* line 70, ../sass/responsive.scss */
  html #page #navigation, body #page #navigation {
    margin: 0;
    height: auto;
    width: auto;
    background: none;
  }
  /* line 76, ../sass/responsive.scss */
  html #page #navigation .block, body #page #navigation .block {
    margin: 0;
  }
  /* line 78, ../sass/responsive.scss */
  html #page #navigation #dropdown_button, body #page #navigation #dropdown_button {
    background: url("../images/m.png") no-repeat 0% 0%;
    width: 153px;
    height: 70px;
    cursor: pointer;
    text-indent: -9999px;
    float: right;
    border: none;
    margin-top: -20px;
    margin-right: 22px;
  }
  /* line 89, ../sass/responsive.scss */
  html #page #navigation .off_menu, body #page #navigation .off_menu {
    background: url("../images/m_off.png") no-repeat 0% 0% !important;
  }
  /* line 90, ../sass/responsive.scss */
  html #page #navigation #block-block-41, body #page #navigation #block-block-41 {
    background: url("../images/960head.png") repeat-x 0% 0%;
    display: block;
    position: relative;
    z-index: 200;
  }
  /* line 96, ../sass/responsive.scss */
  html #page #navigation ul, body #page #navigation ul {
    height: auto;
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    z-index: 500;
    width: 100%;
  }
  /* line 105, ../sass/responsive.scss */
  html #page #navigation ul .menu-link-2926 a, body #page #navigation ul .menu-link-2926 a {
    color: #fff!important;
    background: url("../images/m_ico.png") no-repeat;
    background-position: 18px 26px !important;
    background-size: auto!important;
    padding-left: 75px;
    text-transform: uppercase;
  }
  /* line 113, ../sass/responsive.scss */
  html #page #navigation ul li, body #page #navigation ul li {
    float: none;
    margin: 0 30px;
    padding: 0 20px;
    background: #ff9b21 url("../images/m_li.png") repeat-x 0% 0%;
    border: 1px solid white;
  }
  /* line 120, ../sass/responsive.scss */
  html #page #navigation ul li .menu-link-2926 a, body #page #navigation ul li .menu-link-2926 a {
    color: #fff!important;
  }
  /* line 123, ../sass/responsive.scss */
  html #page #navigation ul li a, body #page #navigation ul li a {
    text-indent: 0;
    background: none;
    width: auto;
    height: auto;
    position: static;
    color: #252525!important;
    font: 130% Arial;
    line-height: 90px;
    /*font:30px/90px Arial; */
  }
  /* line 137, ../sass/responsive.scss */
  html #page #content, body #page #content {
    padding: 0 30px;
  }
  /* line 138, ../sass/responsive.scss */
  html #page .geton, body #page .geton {
    display: block!important;
  }
  /* line 141, ../sass/responsive.scss */
  html #page .geton a, body #page .geton a {
    width: 155px;
    height: 148px;
    background-size: 100%;
  }
  /* line 147, ../sass/responsive.scss */
  html #page .get1, body #page .get1 {
    display: none;
  }
  /* line 148, ../sass/responsive.scss */
  html #page #video, body #page #video {
    display: none!important;
  }
  /* line 149, ../sass/responsive.scss */
  html #page #video2, body #page #video2 {
    display: block!important;
    background: url("../images/video_mobile.png") no-repeat 0 0;
    width: 479px;
    height: 318px;
    padding: 31px 0 0 104px;
  }
  /* line 157, ../sass/responsive.scss */
  html #copyright, body #copyright {
    padding: 0;
    background: none;
    width: 100%!important;
  }
  /* line 162, ../sass/responsive.scss */
  html #copyright .page-width, body #copyright .page-width {
    padding: 0 !important;
    width: 100%!important;
  }
  /* line 167, ../sass/responsive.scss */
  html #copyright .left, html #copyright .right, body #copyright .left, body #copyright .right {
    float: none;
  }
  /* line 168, ../sass/responsive.scss */
  html #copyright .left, body #copyright .left {
    font: 120%/43px Tahoma, Arial;
    text-align: center;
    background: #3cb5f1 url("../images/copy2.png") repeat-x 0% 0%;
    padding: 0 4.6875%;
  }
  /* line 174, ../sass/responsive.scss */
  html #copyright .left a, body #copyright .left a {
    margin: 0;
  }
  /* line 176, ../sass/responsive.scss */
  html #copyright .right, body #copyright .right {
    font: 100% Tahoma, Arial;
    line-height: normal;
    background-position: 95% 50%;
    height: auto;
    padding: 10px 60px 10px 4.6875%;
  }
  /* line 183, ../sass/responsive.scss */
  html #copyright .get_facts, body #copyright .get_facts {
    background: url("../images/facts2.png") no-repeat 0% 0%;
    width: 100%;
    background-size: 100%;
    /*height:63px;*/
    height: 100%;
    left: 0px!important;
    top: -127px;
  }
  /* line 192, ../sass/responsive.scss */
  html #copyright .bird, body #copyright .bird {
    display: block!important;
    right: 0!important;
    left: auto;
    background: url("../images/bird2.png") no-repeat 0% 0%;
    width: 76px;
    height: 67px;
    top: -65px;
  }
  /* line 203, ../sass/responsive.scss */
  html body.front #node-46 .home, body body.front #node-46 .home {
    width: auto!important;
  }
  /* line 204, ../sass/responsive.scss */
  html #block-rotating-banner-1, body #block-rotating-banner-1 {
    display: block!important;
    border-top: 3px solid #b8d647;
    border-bottom: 3px solid #b8d647;
    margin-top: -50px!important;
    position: relative;
    z-index: 100;
  }
  /* line 212, ../sass/responsive.scss */
  html #block-rotating-banner-1 .rotating-banner, body #block-rotating-banner-1 .rotating-banner {
    overflow: auto;
  }
  /* line 215, ../sass/responsive.scss */
  html #block-block-16,
  html #block-block-31, body #block-block-16,
  body #block-block-31 {
    margin: 0;
  }
  /* line 216, ../sass/responsive.scss */
  html #node-16 .left, body #node-16 .left {
    width: auto!important;
    margin-right: 0px!important;
  }
  /* line 222, ../sass/responsive.scss */
  html .tips,
  html .learn,
  html .vpd, body .tips,
  body .learn,
  body .vpd {
    width: auto!important;
  }
  /* line 223, ../sass/responsive.scss */
  html #content .pane #block-system-main .node, body #content .pane #block-system-main .node {
    padding: 0 30px !important;
  }
}
/* line 1, ../sass/navigation.scss */
#navigation {
  background: url("../images/navi.png") no-repeat 0 0;
  height: 243px;
  width: 822px;
  margin: 0 0 0 20px;
}
/* line 7, ../sass/navigation.scss */
#navigation ul {
  float: none;
  position: relative;
  height: 243px;
}
/* line 12, ../sass/navigation.scss */
#navigation ul li a {
  display: block;
  position: absolute;
  text-indent: -9999px;
  background-size: 100%!important;
  background-position: 0 100% !important;
  background-repeat: no-repeat;
}
/* line 22, ../sass/navigation.scss */
#navigation ul li a:hover,
#navigation ul li a.active {
  background-position: 0 0 !important;
}
/* line 24, ../sass/navigation.scss */
#navigation ul li a:hover {
  z-index: 500;
}
/* line 25, ../sass/navigation.scss */
#navigation ul li a.active {
  z-index: 450;
}
/* line 27, ../sass/navigation.scss */
#navigation ul li.menu-link-2596 a {
  background: url("../images/m1.png");
  width: 163px;
  height: 196px;
  top: 25px;
  left: -16px;
}
/* line 34, ../sass/navigation.scss */
#navigation ul li.menu-link-2601 a {
  background: url("../images/m2.png");
  width: 187px;
  height: 120px;
  top: 56px;
  left: 110px;
}
/* line 41, ../sass/navigation.scss */
#navigation ul li.menu-link-2606 a {
  background: url("../images/m3.png");
  width: 178px;
  height: 168px;
  top: 40px;
  left: 253px;
}
/* line 48, ../sass/navigation.scss */
#navigation ul li.menu-link-2611 a {
  background: url("../images/m4.png");
  width: 292px;
  height: 203px;
  top: -13px;
  left: 383px;
}
/* line 55, ../sass/navigation.scss */
#navigation ul li.menu-link-2616 a {
  background: url("../images/m5.png");
  width: 173px;
  height: 181px;
  top: 7px;
  left: 565px;
}
/* line 62, ../sass/navigation.scss */
#navigation ul li.menu-link-2621 a {
  background: url("../images/m6.png");
  width: 162px;
  height: 186px;
  top: 29px;
  left: 696px;
}

@font-face {
  font-family: 'sketch';
  src: url("/sites/vpd411.pfizer.edrupalgardens.com/files/201301/253f6e_0_0-webfont.eot");
  src: url("/sites/vpd411.pfizer.edrupalgardens.com/files/201301/253f6e_0_0-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/vpd411.pfizer.edrupalgardens.com/files/201301/253f6e_0_0-webfont.woff") format("woff"), url("/sites/vpd411.pfizer.edrupalgardens.com/files/201301/253f6e_0_0-webfont.ttf") format("truetype"), url("/sites/vpd411.pfizer.edrupalgardens.com/files/201301/253f6e_0_0-webfont.svg#sketch") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/front.scss */
body.front {
  background: url("../images/nav_home.png") no-repeat 120px 125px;
}
/* line 4, ../sass/front.scss */
body.front #page {
  background: url("../images/home.png") no-repeat 100% 100%;
}
/* line 6, ../sass/front.scss */
body.front #navigation {
  background: none;
  height: 442px;
  width: 624px;
}
/* line 11, ../sass/front.scss */
body.front #navigation ul {
  height: 442px;
}
/* line 14, ../sass/front.scss */
body.front #navigation ul li.menu-link-2596 a {
  top: 20px;
  left: -28px;
  height: 230px;
  width: 189px;
  background: url("../images/m1_.png");
}
/* line 21, ../sass/front.scss */
body.front #navigation ul li.menu-link-2601 a {
  top: 20px;
  left: 140px;
  height: 138px;
  width: 219px;
  background: url("../images/m2_.png");
}
/* line 28, ../sass/front.scss */
body.front #navigation ul li.menu-link-2606 a {
  top: 25px;
  left: 383px;
  height: 200px;
  width: 206px;
  background: url("../images/m3_.png");
}
/* line 35, ../sass/front.scss */
body.front #navigation ul li.menu-link-2611 a {
  top: 216px;
  left: -30px;
  height: 215px;
  width: 335px;
  background: url("../images/m4_.png");
}
/* line 42, ../sass/front.scss */
body.front #navigation ul li.menu-link-2616 a {
  top: 133px;
  left: 200px;
  height: 215px;
  width: 201px;
  background: url("../images/m5_.png");
}
/* line 49, ../sass/front.scss */
body.front #navigation ul li.menu-link-2621 a {
  top: 175px;
  left: 383px;
  height: 227px;
  width: 186px;
  background: url("../images/m6_.png");
}
/* line 59, ../sass/front.scss */
body.front .bird {
  background: url("../images/bag.png") no-repeat 0 0;
  width: 216px;
  height: 168px;
  top: -255px;
  left: -160px;
}
/* line 67, ../sass/front.scss */
body.front #site-name {
  background: url("../images/logo_main.png") no-repeat 0 0;
  width: 451px;
  height: 95px;
}
/* line 72, ../sass/front.scss */
body.front #site-name a {
  width: 451px;
  height: 95px;
}
/* line 78, ../sass/front.scss */
body.front #content h2 {
  display: none;
}
/* line 80, ../sass/front.scss */
body.front #page-title {
  display: none;
}
/* line 82, ../sass/front.scss */
body.front #node-46 .home {
  width: 505px;
  padding-left: 0;
}
/* line 87, ../sass/front.scss */
body.front .lining {
  padding-top: 25px;
}

/* line 1, ../sass/get.scss */
.buttons-wrapper {
  overflow: hidden;
  width: 510px;
  text-align: center;
  float: left;
}
/* line 8, ../sass/get.scss */
.buttons-wrapper .geton a,
.buttons-wrapper div {
  display: block;
  width: 155px;
  height: 152px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
/* line 18, ../sass/get.scss */
.buttons-wrapper #button-1, .buttons-wrapper #a1 {
  background: url("../images/get1.png") no-repeat 0 0;
}
/* line 19, ../sass/get.scss */
.buttons-wrapper #button-2, .buttons-wrapper #a2 {
  background: url("../images/get2.png") no-repeat 0 0;
}
/* line 20, ../sass/get.scss */
.buttons-wrapper #button-3, .buttons-wrapper #a3 {
  background: url("../images/get3.png") no-repeat 0 0;
}
/* line 21, ../sass/get.scss */
.buttons-wrapper #button-4, .buttons-wrapper #a4 {
  background: url("../images/get4.png") no-repeat 0 0;
}
/* line 22, ../sass/get.scss */
.buttons-wrapper #button-5, .buttons-wrapper #a5 {
  background: url("../images/get5.png") no-repeat 0 0;
}
/* line 23, ../sass/get.scss */
.buttons-wrapper #button-6, .buttons-wrapper #a6 {
  background: url("../images/get6.png") no-repeat 0 0;
}
/* line 24, ../sass/get.scss */
.buttons-wrapper .active {
  background-position: 0 100% !important;
}

/* line 26, ../sass/get.scss */
.descriptions-wrapper {
  float: left;
  background: url("../images/arrow.png") no-repeat 0 15px;
  padding-left: 125px;
  /* width:480px; */
  width: 30%;
  margin-left: -40px;
}

/* line 34, ../sass/get.scss */
.geton {
  text-align: center;
}
/* line 37, ../sass/get.scss */
.geton #a1 {
  background: url("../images/get1.png") no-repeat 0 0;
}
/* line 38, ../sass/get.scss */
.geton #a2 {
  background: url("../images/get2.png") no-repeat 0 0;
}
/* line 39, ../sass/get.scss */
.geton #a3 {
  background: url("../images/get3.png") no-repeat 0 0;
}
/* line 40, ../sass/get.scss */
.geton #a4 {
  background: url("../images/get4.png") no-repeat 0 0;
}
/* line 41, ../sass/get.scss */
.geton #a5 {
  background: url("../images/get5.png") no-repeat 0 0;
}
/* line 42, ../sass/get.scss */
.geton #a6 {
  background: url("../images/get6.png") no-repeat 0 0;
}
/* line 43, ../sass/get.scss */
.geton a {
  display: block;
  width: 155px;
  height: 152px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  text-indent: -9999px;
}

/* line 1, ../sass/tags.scss */
h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/tags.scss */
h1 {
  color: #33ccff;
}

/* line 3, ../sass/tags.scss */
h2 {
  color: #ff9933;
}

/* line 4, ../sass/tags.scss */
h3 {
  color: #ff9933;
}

/* line 6, ../sass/tags.scss */
h1 {
  font: normal 50px "sketch", Arial, sans-serif;
}

/* line 7, ../sass/tags.scss */
h2 {
  font: bold 26px Tahoma, Arial, sans-serif;
}

/* line 8, ../sass/tags.scss */
h3 {
  font: normal 20px Tahoma, Arial, sans-serif;
}

/* line 9, ../sass/tags.scss */
h3 span {
  font: normal 26px "sketch", Arial, sans-serif;
}

/* line 11, ../sass/tags.scss */
#content h1 {
  -moz-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  margin-bottom: 70px;
}

/* line 19, ../sass/tags.scss */
h3 {
  margin-bottom: 5px;
}

/* line 21, ../sass/tags.scss */
body.page-node-11 h3 span {
  font: normal 39px sketch;
}
